src/main/resources/xml/airportSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.github.com/bryanvullo/RunwayRedeclaration"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="airports">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="airport" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="runways" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="runway" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element name="logicalRunway" maxOccurs="unbounded"
                                                                minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Runway name ie. (09L/27R)
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element type="xs:short" name="tora">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Logical runway name ie.
                                                                            (09L)
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element type="xs:short" name="toda"/>
                                                                <xs:element type="xs:short" name="asda"/>
                                                                <xs:element type="xs:short" name="lda"/>
                                                                <xs:element type="xs:short" name="clearway"/>
                                                                <xs:element type="xs:byte" name="stopway"/>
                                                                <xs:element type="xs:short" name="displacedThreshold"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="dir" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>