src/main/resources/xml/newAirportSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.github.com/bryanvullo/RunwayRedeclaration"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="airports">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="airport" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="runways" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="runway" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:int" name="tora"/>
                                                    <xs:element type="xs:int" name="toda"/>
                                                    <xs:element type="xs:int" name="asda"/>
                                                    <xs:element type="xs:int" name="lda"/>
                                                    <xs:element type="xs:int" name="clearway"/>
                                                    <xs:element type="xs:int" name="stopway"/>
                                                    <xs:element type="xs:int" name="displacedThreshold"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
